* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: solid 3px;
    width: 80vw;
    display: flex;
}

.informacoes {
    border: solid 2px red;
}

.premios {
    display: flex;
    gap: 5px;

    img {
        width: 20px;
    }
}